@page
@model CreateModel
@{
    ViewData["Title"] = "(Admin) Room Documentation - Create File";
}
<script language='javascript'>

    function submitted() { alert('Submitted'); }

</script>
<h1 class="heading1">Room Documentation - Add File</h1>
<div class="box2">
    <form method="post" enctype="multipart/form-data" onsubmit="return(submitted())">
        
        <input type="hidden" asp-for="RoomDocumentationFile.RoomCode">
        
        <label asp-for="File">@Html.DisplayNameFor(model => model.File)</label>
        <input asp-for="File" class="form-control"/>
        <span asp-validation-for="File"></span>

        <label asp-for="RoomDocumentationFile.Name">@Html.DisplayNameFor(model => model.RoomDocumentationFile.Name)</label>
        <input asp-for="RoomDocumentationFile.Name" class="form-control"/>
        <span asp-validation-for="RoomDocumentationFile.Name"></span>

        <button class="btn-success">Add</button>
    </form>
</div>