@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1 class="heading1">PMES Lab Management system</h1>  
<p class="p1">This system contains the logbooks, user manuals, fixes, risk assessment, and specifications for key user and research laboratory equipment within the Department of Physical, Mathematical, and Engineering Sciences.</p>
<p class="p4">(Click a building image to see more about that building and the laboratories in it.)</p>
<div class="container-fluid">        
    <div class="row d-flex flex-column flex-wrap flex-md-row justify-content-start">          
        @foreach (var building in await Model.BuildingRepository.SelectAll())         
        {            
            string pictureSrc = $"data:image/jpeg;base64,{Convert.ToBase64String(building.Image)}";            
            <div class="col-12 col-md-4 padder">                 
                <div class="image-container">                      
                    <a asp-page="/BuildingView" asp-route-buildingName="@building.Name">
                        <img class="diplayMenuImg" src="@pictureSrc" alt="Lab"/>
                        <div class=""><h4 class="image-text text">@building.Name</h4></div>
                        <div class="image-overlay"></div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>